<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PSU Modelworx</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>

        {% if not user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
            </a>
            <div class="dropdown-menu">
              <form class="px-4 py-3" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="id_username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="id_username" name="username" placeholder="my_user" required autocomplete="username">
                </div>
                <div class="mb-3">
                  <label for="id_password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="id_password" name="password" placeholder="its a secret" required autocomplete="current-password">
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                      Remember me
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'signup' %}">New around here? Sign up</a>
              <a class="dropdown-item" href="#">Forgot password?</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dataset_collection' %}">Datasets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'model_collection' %}">Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_collection' %}">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}">Account</a>
        </li>
        <li class="nav-item">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="nav-link" type="submit" aria-current="page">Logout</button>
            </form>
        </li>
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>