{% include "base/header.html" %}

{% include "base/navbar.html" %}


<h2>Log In</h2>
<div class="container">
    <form method="post" action="/accounts/login/">
        {% csrf_token %}
    
        <div class="col-md-3 mb-3">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
        </div>
        <div class="col-md-3 mb-3">
            <label for="id_password">Password</label>
            <input type="password" class="form-control" name="password" autocomplete="current-password" maxlength="150" required id="id_password">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>    
</div>

{% include "base/footer.html" %}