{% include "base/header.html" %}

{% include "base/navbar.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

<h2>Sign up</h2>

<div class="container col-md-3">
  <form  method="post">
    {% csrf_token %}

    {% for field in form %}

      <div>
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <ul class="errorlist">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
      </div>
    {% endfor %}
    <button class="btn btn-info m-3" type="submit">Sign up</button>
  </form>
</div>

{% endblock %}
{% include "base/footer.html" %}