{% include "base/header.html" %}
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>


{% include "base/navbar.html" %}



<div class="container">
    <h1>Welcome to Modelworx!</h1>
    <p>
        Modelworx is a tool developed as part of a project for Penn State University.  The intent of Modelworx is to provide automation
        for preprocessing datasets, and automatically building models from the scikit-learn Python package.  Modelworx as a tool will 
        attempt to determine the best model to be used for your dataset!  Additionally, Modelworx will create an URI endpoint that can be
        programatically utilized to run models remotely.  
    </p>
    <p>
        To get started, create an account, login, and then upload your first dataset!
    </p>
</div>


{% include "base/footer.html" %}

