{% include "base/header.html" %}
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>


{% include "base/navbar.html" %}


<h1>Model Collection Page</h1>

{% if user.is_authenticated %}

{% if models %}
<table class="table" id="id_models_table" name="models_table">
        <thead>
            <tr>
                <th scope="col">Model Name</th>
                <th scope="col">Model File Name</th>
                <th scope="col">Model Method</th>
                <th scope="col">Model Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
            <tr>
                <td>{{ model.name }}</td>
                <td>{{ model.model_file }}</td>
                <td>{{ model.model_method }}</td>
                <td>{{ model.model_type }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'model_details' model_id=model.id %}">View Details</a>
                    <form method="POST" action="{% url 'model_delete' %}">
                        {% csrf_token %}
                        <input type="hidden" name="model_id" id="model_id" value="{{ model.id }}"/>
                        <button type="Submit" class="btn btn-danger">Delete model</button>
                    </form>
                    <a class="btn btn-success" href="{% url 'model_download' model_id=model.id %}">Download Model</a>
                </td>
            </tr>
            {% endfor %}        
        </tbody>
    </table>
{% else %}

<h2>User currently has no models!</h2>
<br />
<h3>Models are available after uploading a dataset, preprocessing the dataset, and running the model engine!</h3>

{% endif %}

{% else %}
<h3>Not logged in</h3>
{% endif %}

{% include "base/footer.html" %}

<script>
    
function run_model_fetch_request(model_id) {
    var url = '{% url 'run_model' %}';
    var CSRF_TOKEN = '{{ csrf_token }}';

    let formData = new FormData();

    var data = {
        values: [
            1,
            2,
            3,
            4,
            "Iris-setosa"
        ]
    }
    var dataString = JSON.stringify(data)

    formData.append("model_id", model_id)
    formData.append("data", dataString)

    fetch(url, {
        method: 'POST',
        headers: {
            'X-CSRFToken': CSRF_TOKEN
        },
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error.  Status Code: ${response.status}`);
        }
        return response;
    })
    .then(responseData => {
        console.log('Response data:', responseData);
        console.log('Response text:', responseData.text())
        //window.location.reload()
    })
    .catch(error => {
        console.error('Fetch error:', error);
    })
}

    $(document).ready( function () {
    $('#id_models_table').DataTable({
        searching: true
    });
} );

</script>