{% include "base/header.html" %}
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>


{% include "base/navbar.html" %}


<h1>Task Collection Page</h1>
<h2>Task History</h2>
<table>
    <thead>
        <tr><th>Type</th><th>Status</th><th>Result</th><th>Created</th></tr>
    </thead>
    <tbody>
        {% for task in user_tasks %}
        <tr>
            <td>{{ task.task_type }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.result_message|default:"-" }}</td>
            <td>{{ task.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "base/footer.html" %}

